
@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_bootswatch.scss";

#mouahaha{
  font-size: 1.25rem;
  text-align: center;
  padding:2rem;
}
button {
  margin:0.6rem;
}
nav > input {
  margin:0.6rem;
}
.jumbotron{
  background-color: #767799;
}
.btn {
  background-color: #4A5A63;
  border-color: lightgrey;
  opacity:0.5;
}
.btn:hover {
  background-color: #14407A;
  border-color: lightgrey;
  opacity: 1;
}
.card-header {
  background-color: #7F85B0;
}
.card-body {
  background-color: #5C637F;
  text-align: center;
}
.card {
  border:none;
}
.page-footer {
  background-color: #24252E;
}

@media screen and (max-height:1024px){
form > fieldset {
  max-width:50rem;
  margin-left:15rem;
  margin-top:3rem;
  }
}
@media screen and (max-width:1920px){
form > fieldset {
  max-width:50rem;
  margin-left:15rem;
  margin-top:3rem;
  }
}
@media screen and (max-width:1000px){
form > fieldset {
  max-width:50rem;
  margin:0.4rem;
  }
}
footer {
  top:0;
}
