
@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_bootswatch.scss";

body{
  font-family: 'Kanit', sans-serif;
  font-size: 15pt;
  background-image: url('/images/wood.jpg');
  background-attachment: fixed;
  /*
  filter:contrast();
  */
  }
  #mouahaha {
    text-align: center;
    padding: 2rem;
  }
  .navbar {
    background-color: #6F4436 !important;
    position: static;
  }
.navbar-brand{
  font-size: 26pt;
  text-shadow:   #ffad33 5px 0 10px;
  font-family: 'Libre Barcode 39', cursive;
  font-family: 'Monoton', cursive;
  }
.navbar-nav{
  font-size: 15pt;
  text-shadow:  #ffad33 1px 0 10px;
  }
nav > input {
  margin:0.6rem;
  }
.jumbotron{
  background-color: #2B3E50;
}
#coffeeImg {
  width:3rem;
  margin:0.5rem;
}
#signUpContent {
  position: relative;
  z-index: 1;
}
#coffeeLover {
  width:20rem;
  position:absolute;
  filter:drop-shadow(30px 10px 4px rgba(0,0,0,0.7));
}
#emailHelp {
  font-size:0.7rem;
  color: white !important;
  background-color: rgba(0,0,0,0.3);
  max-width:16rem;
}
.nav-item :hover{
  opacity:0.8;
}
.usersInfo {
font-weight: bold;
}
.usersInfo>ul>li>button{
  opacity:0.9 !important;
}
.card {
  margin:3rem;
}
.exists {
  font-size: 1rem;
  text-align: center;
  max-width:13rem;
  color: red;
  background-color: rgba(255,255,255,0.5);
}
#invisible {
  display: none;
}
#users {
  background-color: rgba(0,0,0,0.7)
}
#articlesDispl {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgba(0,0,0,0.5);
  margin-left:5rem;
  margin-right:5rem;
  margin-top:5rem;
  border-radius: 5px;
}
.btn {
  background-color: #BE8A60;
  opacity:0.5;
  border-color: #ffad33 !important;
  margin:0.3rem;
  }
.btn:hover {
  background-color: #6F4436;
  border-color: #ffad33;
  opacity: 1;
  }
.card-header {
  font-size: 20pt;
  background-color: #BE8A60;
  }
.card-body {
  background-color: #6F4436;
  text-align: center;
  }
  .modal-body {
    background-color: #6F4436;
  }
  .modal-header {
    background-color: #BE8A60;
  }
  .modal-footer {
    background-color: #6F4436;
  }
.card {
  border:none;
  }
  .modalBtn{
    color:white;
    background-color: rgba(0,0,0,0.6);
    margin-top:2rem;
  }
.page-footer {
  background-color: #6F4436;
  }
form > fieldset {
  height: 100%;
}
fieldset > button {
  opacity:1 !important;
}
  @media screen and (max-width:1920px){
  form > fieldset {
    max-width:50rem;
    margin-left:30rem;
    margin-top:3rem;
    }
  }
  @media screen and (max-width:1600px){
  form > fieldset {
    max-width:50rem;
    margin-left:20rem;
    margin-top:3rem;
    }
  }
  @media screen and (max-width:1300px){
    form > fieldset {
      max-width:50rem;
      margin-left:15rem;
      margin-top:3rem;
      }
      #articlesDispl {
        min-width:28rem;
      }
    }
    @media screen and (max-width:1100px){
      #articlesDispl {
        min-width:38rem;
        margin:6rem;
      }
      #coffeeLover{
        display: none;
      }
      .navlink {
        margin-left:0.5rem;
      }
      .navbar {
        padding:0;
      }
      form > fieldset {
        max-width:50rem;
        margin:0.4rem;
        }
      }

@media screen and (max-width:900px){
  #articlesDispl {
    min-width:28rem;
    margin:0;
    padding:0;
  }
  body {
    font-size: 13pt;
  }
  #coffeeLover{
    display: none;
  }
  .form-inline > .form-control {
    margin:1rem;
  }
  .navbar {
    padding:0;
  }
  form > fieldset {
    max-width:50rem;
    margin:0.4rem;
    }
  }
  @media screen and (max-width:600px){
    #articlesDispl {
      margin:0;
      padding:0;
      min-width:15rem;
    }
    body {
      font-size: 11pt;
    }
  }
  @media screen and (max-height:1200px){
    #footix {
      margin-top:30rem;
    }
  }
  #footix {
    margin-top: 45rem;
    border-top-width: 50%;
    border-top-color: #000000;
    border-top-style: solid;
    }
.carousel-inner{
  max-height: 30rem;
  filter:drop-shadow(30px 10px 4px rgba(0,0,0,0.7));

}
.carousel-inner > .carousel-item > img{
  max-width: 115rem;
  max-height: 20rem;
}
