
@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_bootswatch.scss";

body{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20pt;
  }
  #mouahaha {
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem;
  }
.navbar-brand{
  font-size: 26pt;
  text-shadow: orangered 1px 0 10px;
  font-family: 'Libre Barcode 39', cursive;
  font-family: 'Monoton', cursive;
  }
.navbar-nav{
  font-size: 15pt;
  text-shadow: orangered 1px 0 10px;
  }
nav > input {
  margin:0.6rem;
  }
.jumbotron{
  background-color: #2B3E50;
}
#coffeeImg {
  width:3rem;
  margin:0.5rem;
}
#signUpContent {
  position: relative;
  z-index: 1;
}
#coffeeLover {
  width:20rem;
  position:absolute;
}
small {
  font-size:0.7rem;
}
.card {
  font-size: 0.8rem;
  margin:3rem;
}
#articlesDispl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #4A5A63;
  opacity:0.5;
  border-color:orangered;
  margin:0.3rem;
  }
.btn:hover {
  background-color: #14407A;
  border-color: lightgrey;
  opacity: 1;
  }
.card-header {
  background-color: #7F85B0;
  }
.card-body {
  background-color: #5C637F;
  text-align: center;
  }
.card {
  border:none;
  }
.page-footer {
  background-color: #24252E;
  }
form > fieldset {
  height: 100%;
}
  @media screen and (max-width:1920px){
  form > fieldset {
    max-width:50rem;
    margin-left:30rem;
    margin-top:3rem;
    }
  }
  @media screen and (max-width:1600px){
  form > fieldset {
    max-width:50rem;
    margin-left:20rem;
    margin-top:3rem;
    }
  }
  @media screen and (max-width:1300px){
    form > fieldset {
      max-width:50rem;
      margin-left:15rem;
      margin-top:3rem;
      }
    }
    @media screen and (max-width:1100px){
      #coffeeLover{
        display: none;
      }
      .navlink {
        margin-left:0.5rem;
      }
      .navbar {
        padding:0;
      }
      form > fieldset {
        max-width:50rem;
        margin:0.4rem;
        }
      }

@media screen and (max-width:900px){
  #coffeeLover{
    display: none;
  }
  .form-inline > .form-control {
    margin:1rem;
  }
  .navbar {
    padding:0;
  }
  form > fieldset {
    max-width:50rem;
    margin:0.4rem;
    }
  }
  #footix {
    margin-top: 50rem;
    }
.carousel-inner{
  max-height: 30rem;
}
.carousel-inner > .carousel-item > img{
  max-width: 115rem;
  max-height: 20rem;
}
