{% extends 'common.twig' %}

{% block content %}
<div id="users">
{% for key in result %}
              {% if  session.auth %}
            <ul class="usersInfo">
              <li> {{ key.user_name}}</li>
                {% else %}
                <li>{{ key.user_email }}</li> {% endif %}
              </ul>
  {% endfor %}
  </div>
{% endblock %}
