{% extends 'common.twig' %}

{% block content %}
<div id="users">
{% for key in result %}
              {% if (key.user_permission) != 2 %}
            <ul class="usersInfo">
              <li> {{ key.user_name}}</li>
               
                <li>{{ key.user_email }}</li> 
              </ul> {% endif %}
  {% endfor %}
  </div>
{% endblock %}
